/* Denna fil skall innehålla din CSS kod */

html {
	font: size 100%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: fit-content;

}
.home-screen-2Vn {
  box-sizing: border-box;
  padding: 2.4rem 0rem 3.1rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2rem;
}
.home-screen-2Vn .auto-group-acmd-Pje {
  margin: 0rem 2rem 2.2rem 0rem;
  width: calc(100% - 2rem);
  height: 4.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-acmd-Pje .location-QHN {
  margin-right: 21.5rem;
  width: 9.6rem;
  height: 100%;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-acmd-Pje .location-QHN .location-XMz {
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #828282;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
.home-screen-2Vn .auto-group-acmd-Pje .location-QHN .auto-group-xuvr-bse {
  width: 100%;
  display: flex;
  align-items: center;
}
.home-screen-2Vn .auto-group-acmd-Pje .location-QHN .auto-group-xuvr-bse .jakarta-udS {
  margin: 0rem 0.4rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-acmd-Pje .location-QHN .auto-group-xuvr-bse .icarrow-down-2TA {
  margin-top: 0.1rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-acmd-Pje .icnotification-Xep {
  margin-bottom: 0.7rem;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-oe1u-THa {
  margin: 0rem 2rem 1.8rem 0rem;
  width: calc(100% - 2rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-oe1u-THa .search-bar-xEL {
  margin-right: 0.8rem;
  box-sizing: border-box;
  padding: 1.2rem 6.9rem 1.2rem 1.647rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-oe1u-THa .search-bar-xEL .icsearch-SfJ {
  margin-right: 1.0819rem;
  width: 2.4708rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-oe1u-THa .search-bar-xEL .search-address-or-near-you-MXN {
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #848484;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-oe1u-THa .icfilter-emN {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-screen-2Vn .category-BFW {
  margin-bottom: 2.7rem;
  width: 40.5rem;
  height: 4.1rem;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
  flex-shrink: 0;
}
.home-screen-2Vn .category-BFW .auto-group-g5yz-6dN {
  margin-top: 0.2rem;
  width: 6.9rem;
  height: 3.9rem;
  position: relative;
  flex-shrink: 0;
}
.home-screen-2Vn .category-BFW .auto-group-g5yz-6dN .shadow-dNQ {
  width: 5.7rem;
  height: 2rem;
  position: absolute;
  left: 0.5rem;
  top: 1.9rem;
  filter: blur(0.6rem);
  background: linear-gradient(-180deg, rgba(159, 217, 250, 0.2399999946) -22.93%, rgba(9, 141, 216, 0.2399999946) 131.41%);
  border-radius: 1rem;
}
.home-screen-2Vn .category-BFW .auto-group-g5yz-6dN .house-active-6Fz {
  width: 6.9rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.175;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.8rem 2.4rem rgba(54, 59, 100, 0.0799999982);
  background: linear-gradient(-180deg, #9fd9fa -22.93%, #098dd8 131.41%);
  border-radius: 1rem;
}
.home-screen-2Vn .category-BFW .apartment-GZn {
  margin: 0.2rem 0rem 0.5rem 0rem;
  width: 9.2rem;
  height: calc(100% - 0.7rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #848484;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-screen-2Vn .category-BFW .hotel-YXJ {
  margin: 0.2rem 0rem 0.5rem 0rem;
  width: 6.3rem;
  height: calc(100% - 0.7rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #848484;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-screen-2Vn .category-BFW .villa-P28 {
  margin: 0.2rem 0rem 0.5rem 0rem;
  width: 5.6rem;
  height: calc(100% - 0.7rem);
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #848484;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-screen-2Vn .category-BFW .auto-group-hert-EHe {
  margin-bottom: 0.3rem;
  width: 7.7rem;
  height: 3.8rem;
  position: relative;
  flex-shrink: 0;
}
.home-screen-2Vn .category-BFW .auto-group-hert-EHe .cottage-yFE {
  width: 7.7rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #828282;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 1rem;
}
.home-screen-2Vn .category-BFW .auto-group-hert-EHe .shadow-dag {
  width: 2rem;
  height: 3.8rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  background: linear-gradient(-90deg, #ffffff 100%, rgba(255, 255, 255, 0) -0%);
}
.home-screen-2Vn .auto-group-mwbd-Ljz {
  margin: 0rem 2rem 2.4rem 0rem;
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-mwbd-Ljz .near-from-you-V76 {
  margin-right: 17.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.175;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-mwbd-Ljz .see-more-CGQ {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #848484;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-sgjh-7uA {
  margin-bottom: 2rem;
  width: 100%;
  height: 28.4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-sgjh-7uA .auto-group-8ccw-s7e {
  margin-right: 2.4rem;
  width: 22.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-sgjh-7uA .auto-group-8ccw-s7e .shadow-QtG {
  width: 18.2rem;
  height: 5.4rem;
  position: absolute;
  left: 2rem;
  top: 23rem;
  filter: blur(1rem);
  background-color: rgba(0, 0, 0, 0.1000000015);
  border-radius: 2rem;
}
.home-screen-2Vn .auto-group-sgjh-7uA .auto-group-8ccw-s7e .dreamsvile-house-h6g {
  box-sizing: border-box;
  padding: 2rem 1.6rem 1.5rem 2rem;
  width: 22.2rem;
  height: 27.2rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-eb2.png');
  background: linear-gradient(180deg, rgba(12, 12, 12, 0) 37.57%, rgba(0, 0, 0, 0.8000000119) 100%);
  border-radius: 2rem;
}
.home-screen-2Vn .auto-group-sgjh-7uA .auto-group-8ccw-s7e .dreamsvile-house-h6g .icnear-ZPn {
  margin: 0rem 0rem 17.1rem 11.3rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0.4rem 1.1rem;
  width: calc(100% - 11.3rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2399999946);
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-sgjh-7uA .auto-group-8ccw-s7e .dreamsvile-house-h6g .icnear-ZPn .iclocation-TEG {
  margin: 0rem 0.7rem 0.1rem 0rem;
  width: 1rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-sgjh-7uA .auto-group-8ccw-s7e .dreamsvile-house-h6g .icnear-ZPn .km-P7v {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-sgjh-7uA .auto-group-8ccw-s7e .dreamsvile-house-h6g .dreamsville-house-Vya {
  margin: 0rem 4.5rem 0.8rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.175;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-sgjh-7uA .auto-group-8ccw-s7e .dreamsvile-house-h6g .jl-sultan-iskandar-muda-2Cp {
  margin-right: 5.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #d6d6d6;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-sgjh-7uA .ascot-house-BV2 {
  box-sizing: border-box;
  padding: 2rem 1.4rem 1.5rem 2rem;
  width: 22.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image.png');
  background: linear-gradient(180deg, rgba(12, 12, 12, 0) 37.57%, rgba(0, 0, 0, 0.8000000119) 100%);
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-sgjh-7uA .ascot-house-BV2 .icnear-JpY {
  margin: 0rem 0rem 17.1rem 11.3rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0.4rem 1.1rem;
  width: calc(100% - 11.3rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2399999946);
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-sgjh-7uA .ascot-house-BV2 .icnear-JpY .iclocation-CQ8 {
  margin: 0rem 0.7rem 0.1rem 0rem;
  width: 1rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-sgjh-7uA .ascot-house-BV2 .icnear-JpY .km-jQ4 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-sgjh-7uA .ascot-house-BV2 .ascot-house-qT6 {
  margin: 0rem 9.3rem 0.8rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.175;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-sgjh-7uA .ascot-house-BV2 .jl-cilandak-tengah-8h6 {
  margin-right: 8.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #d6d6d6;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-skh5-mzx {
  margin: 0rem 2rem 2.4rem 0rem;
  width: calc(100% - 2rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-skh5-mzx .best-for-you-U8g {
  margin-right: 19rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.175;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .auto-group-skh5-mzx .see-more-Qo2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #848484;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .orchad-house-MiG {
  margin: 0rem 5rem 2.4rem 0rem;
  width: calc(100% - 5rem);
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-screen-2Vn .orchad-house-MiG .image-ty6 {
  margin-right: 2rem;
  width: 7.4rem;
  height: 100%;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.0399999991), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.0399999991), 0 1.6rem 2.4rem rgba(0, 0, 0, 0.0599999987);
  background-color: #efefef;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-screen-2Vn .orchad-house-MiG .image-ty6 .auto-group-brwy-Foe {
  width: 7.4rem;
  height: 7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.home-screen-2Vn .orchad-house-MiG .auto-group-5i9m-tbi {
  width: 21.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-screen-2Vn .orchad-house-MiG .auto-group-5i9m-tbi .auto-group-bxzv-3Uc {
  box-sizing: border-box;
  padding-bottom: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-screen-2Vn .orchad-house-MiG .auto-group-5i9m-tbi .auto-group-bxzv-3Uc .orchad-house-bW8 {
  margin: 0rem 0rem 0.8rem 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.175;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .orchad-house-MiG .auto-group-5i9m-tbi .auto-group-bxzv-3Uc .rp-2500000000-year-7zG {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #0a8ed9;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .orchad-house-MiG .auto-group-5i9m-tbi .auto-group-itmq-Fqa {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-screen-2Vn .orchad-house-MiG .auto-group-5i9m-tbi .auto-group-itmq-Fqa .bedroom-zYG {
  margin-right: 1.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-screen-2Vn .orchad-house-MiG .auto-group-5i9m-tbi .auto-group-itmq-Fqa .bedroom-zYG .icbed-u9S {
  margin-right: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-screen-2Vn .orchad-house-MiG .auto-group-5i9m-tbi .auto-group-itmq-Fqa .bedroom-zYG .bedroom-1yA {
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #848484;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .orchad-house-MiG .auto-group-5i9m-tbi .auto-group-itmq-Fqa .bathroom-ALG {
  box-sizing: border-box;
  padding: 0.4rem 0rem 0.4rem 0.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-screen-2Vn .orchad-house-MiG .auto-group-5i9m-tbi .auto-group-itmq-Fqa .bathroom-ALG .icbath-uYk {
  margin: 0rem 1.2rem 0.057rem 0rem;
  width: 1.6rem;
  height: 1.5431rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-screen-2Vn .orchad-house-MiG .auto-group-5i9m-tbi .auto-group-itmq-Fqa .bathroom-ALG .bathroom-qhJ {
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #848484;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .the-hollies-house-Ltx {
  margin-right: 5rem;
  width: calc(100% - 5rem);
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-screen-2Vn .the-hollies-house-Ltx .image-67S {
  margin-right: 2rem;
  width: 7.4rem;
  height: 100%;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.0399999991), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.0399999991), 0 1.6rem 2.4rem rgba(0, 0, 0, 0.0599999987);
  background-color: #efefef;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-screen-2Vn .the-hollies-house-Ltx .image-67S .auto-group-dtet-r6c {
  width: 7.4rem;
  height: 7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.home-screen-2Vn .the-hollies-house-Ltx .auto-group-rhkb-vsA {
  width: 21.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-screen-2Vn .the-hollies-house-Ltx .auto-group-rhkb-vsA .auto-group-p91h-tJC {
  box-sizing: border-box;
  padding-bottom: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-screen-2Vn .the-hollies-house-Ltx .auto-group-rhkb-vsA .auto-group-p91h-tJC .the-hollies-house-Esr {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.175;
  color: #000000;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .the-hollies-house-Ltx .auto-group-rhkb-vsA .auto-group-p91h-tJC .rp-2000000000-year-NDN {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #0a8ed9;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .the-hollies-house-Ltx .auto-group-rhkb-vsA .auto-group-vdp3-TVi {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-screen-2Vn .the-hollies-house-Ltx .auto-group-rhkb-vsA .auto-group-vdp3-TVi .bedroom-232 {
  margin-right: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-screen-2Vn .the-hollies-house-Ltx .auto-group-rhkb-vsA .auto-group-vdp3-TVi .bedroom-232 .icbed-Mqz {
  margin-right: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-screen-2Vn .the-hollies-house-Ltx .auto-group-rhkb-vsA .auto-group-vdp3-TVi .bedroom-232 .bedroom-iAk {
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #848484;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-screen-2Vn .the-hollies-house-Ltx .auto-group-rhkb-vsA .auto-group-vdp3-TVi .bathroom-TPE {
  box-sizing: border-box;
  padding: 0.4rem 0rem 0.4rem 0.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-screen-2Vn .the-hollies-house-Ltx .auto-group-rhkb-vsA .auto-group-vdp3-TVi .bathroom-TPE .icbath-xKz {
  margin: 0rem 1.2rem 0.057rem 0rem;
  width: 1.6rem;
  height: 1.5431rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-screen-2Vn .the-hollies-house-Ltx .auto-group-rhkb-vsA .auto-group-vdp3-TVi .bathroom-TPE .bathroom-tjS {
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.175;
  color: #848484;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
