/* Denna fil skall innehålla din CSS kod */

#wrapper {
  border: 1px  solid #000;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-areas: 'hd'
  'main'
  'ft';
}

header {
  grid-area: hd;
  background-color: #cc00ff;

}

#hamburger {
  /* border: 1px solid #000; */
  height: 1.5rem;
  width: 2.2rem;
  position: absolute;
  top: 0.7rem;
  right: 0,7rem; 

} 

#hamburger div {
  border: 1px solid #000;
  margin: 0.3rem;

}

nav {
  justify-content: center;
  max-height: 0;
  overflow: hidden;

}

nav.active {
  max-height: 1000px;
  
}

nav ul {
  display: flex;

}

nav ul li {
  list-style: none;
  margin: 1rem 0.5rem 1rem 0.5rem ;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  grid-area: main;
  background-color: #ddcc00;

}

footer { 
  grid-area: ft;
  background-color: #edccff;
}

@media screen and (max-width:600px) {
  body {
    background-color: #ffccdd;

  }

  nav {
    justify-content: center;
    max-height: 0;
    overflow: hidden;

  }

  nav.active {
    max-height: 1000px;
    transition: max-height 1s;

  }

  nav ul {
    display: block;
    padding: 0;

  } 
  nav ul li {
    text-align: center;

  }

  nav ul li a {
    width: 100%;
    height: 100%;

  }
    nav ul li:hover {
    background-color: rgb(147, 174, 148)

  }

}